* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #app {
    height: 100%;
    width: 100%;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    height: 95%;
    width: 95%;
    border-radius: 5px;
    border: 2px solid #212529;
}

.contenedor {
    height: 100%;
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: 60px 1fr;

    background-color: #f3f7ff;
}

/* ##################### MENU ##################### */
/* ################################################ */
/* CABEZAL */
.contenedor .cabezalMenu {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    border-right: 2px solid #21252976;
    background-color: #2D6CDF;
}

/* MENU DE INTERACCION */

.contenedor .menuBotones {
    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 2px solid #21252976;
}

.contenedor .menuBotones .controles {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 1rem;                  /*Modificar*/
    border-radius: 5px;
    border: 1px solid #2D6CDF;
}

.contenedor .menuBotones .controles > button {
    margin: 8px;
    padding: 8px;

    /* Alineo los textos para que empiecen a la izquierda juntos */
    width: 200px;
    text-align: left;
    /* ////////////// */

    border-radius: 5px;
    border: 1.5px solid #2D6CDF;
    background-color: white;
}

/* ##################### LISTADO ##################### */
/* ################################################### */
/* CABEZAL */
.contenedor .cabezalListado {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: #28a745;
}

/* LISTADO DE TAREAS */
.contenedor .listadoTareas {
    min-height: 0;              /*Evitamos que el padre crezca y el hijo se encargue de su contenido agregando un overflow-y: auto*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor .listadoTareas .cajaDeTareas {
    height: 95%;
    width: 90%;

    display: flex;
    flex-direction: column;
    overflow-y: auto;

    gap: 8px;
    padding: 1rem;

    border-radius: 5px;
    border: 1px solid #1e221f;
}

.contenedor .listadoTareas .cajaDeTareas .tareaX {
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #28a745;
    background-color: white;
}

.contenedor .listadoTareas .cajaDeTareas .tareaX > h2 {
    text-align: center;
    border-bottom: 1px solid #bfc1c3;
}

.contenedor .listadoTareas .cajaDeTareas .tareaX div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.1rem;
}

.contenedor .listadoTareas .cajaDeTareas .tareaX div > button {
    margin: 2px;
    padding: 0.5rem;

    /* Alineo los textos para que empiecen a la izquierda juntos */
    width: 100px;
    text-align: center;
    /* ////////////// */

    border-radius: 5px;
    border: 1.5px solid #28a745; /*Luego cambiar por el color asignado*/
    background-color: white;
}