/* ######################## VARIABLES ######################## */
/* ########################################################### */
.btn-start  { 
    --color: #28a745; 
    --background-color: #28a7460d;
}
.btn-pause  { 
    --color: #ffc107; 
    --background-color: #ffc1070d;
}
.btn-delete { 
    --color: #dc3545; 
    --background-color: #dc35460d;
}
.btn-info { 
    --color: #0d6efd;
    --background-color: #0d6efd0d;
}

/* ########################### APP ########################### */
/* ########################################################### */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #app {
    height: 100%;
    width: 100%;
}

body { background-color: #212529; }

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    height: 95%;
    width: 95%;
    border-radius: 5px;
    border: 8px solid #31353a;
}

.cabezalMenu { grid-area: cabezalMenu; }
.cabezalListado { grid-area: cabezaListado;}
.menuBotones { grid-area: menuBotones;}
.listadoTareas { grid-area: listadoTareas; }

.contenedor {
    height: 100%;
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: 60px 1fr;

    grid-template-areas:
    "cabezalMenu cabezalListado"
    "menuBotones listadoTareas";

    background-color: #f3f7ff;
}

.cabezalMenu { grid-area: cabezalMenu; }
.cabezalListado { grid-area: cabezalListado;}
.menuBotones { grid-area: menuBotones;}
.listadoTareas { grid-area: listadoTareas; }


/* ##################### MENU ##################### */
/* ################################################ */
/* CABEZAL */
.contenedor .cabezalMenu {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    border-right: 2px solid #21252976;
    background-color: #2D6CDF;
}

/* MENU DE INTERACCION */

.contenedor .menuBotones {
    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 2px solid #21252976;
    position: relative;
}

.contenedor .menuBotones .controlesRoot {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 1rem;                  /*Modificar*/
    border-radius: 5px;
    border: 2px solid #2D6CDF;
}

.contenedor .menuBotones .controlesRoot > button {
    margin: 8px;
    padding: 8px;

    /* Alineo los textos para que empiecen a la izquierda juntos */
    width: 200px;
    text-align: left;
    /* ////////////// */

    border-radius: 5px;
    border: 1.5px solid #2D6CDF;
    background-color: white;
}

/* ##################### LISTADO ##################### */
/* ################################################### */
/* CABEZAL */
.contenedor .cabezalListado {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: #28a745;
}

/* LISTADO DE TAREAS */
.contenedor .listadoTareas {
    min-height: 0;              /*Evitamos que el padre crezca y el hijo se encargue de su contenido agregando un overflow-y: auto*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor .listadoTareas .cajaDeTareas {
    height: 95%;
    width: 90%;

    display: flex;
    flex-direction: column;
    overflow-y: auto;

    gap: 8px;
    padding: 1rem;

    border-radius: 5px;
    border: 2px solid #28a745;
}

.contenedor .listadoTareas .cajaDeTareas .tareaX {
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid #28a745;
    background-color: white;
}

.contenedor .listadoTareas .cajaDeTareas .tareaX > h2 {
    text-align: center;
    border-bottom: 1.5px solid #bfc1c3;
    padding-bottom: 8px;
}

.contenedor .listadoTareas .cajaDeTareas .tareaX div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.1rem;
}

.contenedor .listadoTareas .cajaDeTareas .tareaX div > button {
    margin: 2px;
    padding: 0.5rem;
    padding-right: 1rem;

    border-radius: 5px;
}


/* ##################### EFECTO DE BOTONES ##################### */
/* ############################################################# */

/* ICONOS */

/* BOTONES */
button {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    font-weight:bold;
}

/* BOTONES DE MENU */
.contenedor .menuBotones .controles > button .material-symbols-outlined {
    color: #0d6efd;
}

/* BOTONES DE TAREAS */
.btn-start, 
.btn-pause, 
.btn-delete, 
.btn-info {
    border: 2px solid var(--color);
    color: var(--color);
    background-color: var(--background-color);
}

/* OCULTAR/MOSTRAR MENUS */
.ocultarVista {
    position:absolute;
    inset:0;

    display:none;

    justify-content:center;
    align-items:center;
}

.ocultarVista.activa {
    display: flex;
}