/* ################### ALGUNOS GENERALES ##################### */
/* ########################################################### */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #app, #root, .contenedor {
    height: 100%;
    width: 100%;
}

body, .navMenuButtons > button {
    font-family: 'Times New Roman', Times, serif;
}

/* ########################### CONTENEDOR ########################### */
/* ################################################################## */

.contenedor {
    background: radial-gradient(circle at 50% 20%, #1E2229 0%, #111315 80%);
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ########################### EXTRAS ########################### */

.titleh2 {
    color: #f0f0f0;
    font-size: 20px;
}
