/* ################### ALGUNOS GENERALES ##################### */
/* ########################################################### */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #app, .contenedor {
    height: 100%;
    width: 100%;
}

body { background-color: #212529; }

h2 {
    text-align: center;
    border-bottom: 1.5px solid #bfc1c3;
    padding-bottom: 8px;
}

#root, .controlesRoot, .cajaDeTareas, .tareaX, input, button { border-radius: 5px; }

.cabezalMenu, .menuBotones, .cabezalListado, .listadoTareas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaDeTareas, .tareaX, .controlesRoot {
    display: flex;
    flex-direction: column;
}

/* ########################### APP ########################### */
/* ########################################################### */
#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    height: 95%;
    width: 95%;
    border: 8px solid #31353a;
}

.contenedor {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: 60px 1fr;

    grid-template-areas:
    "cabezalMenu cabezalListado"
    "menuBotones listadoTareas";

    background-color: #f3f7ff;
}

.cabezalMenu { grid-area: cabezalMenu; }
.cabezalListado { grid-area: cabezalListado;}
.menuBotones { grid-area: menuBotones;}
.listadoTareas { grid-area: listadoTareas; }

/* ##################### MENU ##################### */
/* ################################################ */
/* CABEZAL */
.contenedor .cabezalMenu {
    color: white;
    border-right: 2px solid #21252976;
    background-color: #2D6CDF;
}

/* MENU DE INTERACCION */
.contenedor .menuBotones {
    border-right: 2px solid #21252976;
    position: relative;
}

.contenedor .menuBotones .controlesRoot {
    gap: 8px;
    padding: 1rem;
    border: 2px solid #2D6CDF;
}

/* ##################### LISTADO ##################### */
/* ################################################### */
/* CABEZAL */
.contenedor .cabezalListado {
    color: white;
    background-color: #28a745;
}

/* LISTADO DE TAREAS */
.contenedor .listadoTareas {
    min-height: 0;              /*Evitamos que el padre crezca y el hijo se encargue de su contenido agregando un overflow-y: auto*/
}

.contenedor .listadoTareas .cajaDeTareas {
    height: 95%;
    width: 90%;
    gap: 8px;
    padding: 1rem;
    overflow-y: auto;
    border: 2px solid #28a745;
}

.contenedor .listadoTareas .cajaDeTareas .tareaX {
    gap: 12px;
    padding: 0.5rem;
    border: 2px solid #28a745;
    background-color: white;
}

.contenedor .listadoTareas .cajaDeTareas .tareaX > div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.1rem;
}
