/* ######################## VARIABLES ######################## */
/* ########################################################### */
.btn-start  { 
    --color: #28a745; 
    --background-color: #28a7460d;
}
.btn-pause  { 
    --color: #ffc107; 
    --background-color: #ffc1070d;
}
.btn-delete { 
    --color: #dc3545; 
    --background-color: #dc35460d;
}
.btn-info { 
    --color: #0d6efd;
    --background-color: #0d6efd0d;
}

.controlesRoot {
    --color: #2D6CDF;
    --background-color: white;
}


/* ########################## EFECTOS ########################## */
/* ############################################################# */
button, .btn-info, input {
    margin: 8px;
    font-weight:bold;
    border: 2px solid var(--color);
    background-color: var(--background-color);
    border-radius: 5px;
}

button, .btn-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    
    gap: 8px;
    padding-right: 1rem;
    padding: 0.5rem;

    cursor: pointer;
    color:  var(--color);
    background-color: var(--background-color);
}

.controlesRoot > button, input { 
    color: inherit; 
}

input { 
    padding: 8px 8px 8px 40px; 
}

textarea {
    text-align: center;
}

/* ########################### ICONOS ########################## */
/* ############################################################# */
.material-symbols-outlined { 
    pointer-events: none; 
}

.controlesRoot .material-symbols-outlined { 
    color: #2D6CDF; 
}

/* ########################## ACCIONES ########################## */
/* ############################################################# */
                                        /* DETALLE: Desplazamiento vertical*/
#checkboxInfo, .detailsInfo { 
    display: none; 
}
#checkboxInfo:checked ~ .detailsInfo { 
    display: block;
}

                                        /* CAMBIO DE TARJETA DE CONTROLES ROOT DE MENU */
.ocultarVista {
    position:absolute;
    inset:0;
    display:none;
    justify-content:center;
    align-items:center;
}

.ocultarVista.activa { 
    display: flex; 
}
