/* 
    Revisar al finalizar las etiquetas:
        "CAMBIAR"
        "QUITAR"

    Todas estas etiquetas indican codigo que luego deben ser cambiados, modificados, testeados, etc...
*/
main.contentAll {
    flex: 1;
}

main.contentAll .contentFirstMain {
    height: 100%;
    display: grid;
    grid-template-columns: 280px 1fr 280px;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: 
    ". mainAddTask ."
    "rootNav2 contentTaskList rootNav1";
}
main.contentAll .mainAddTask { grid-area: mainAddTask;}
main.contentAll .contentTaskList { grid-area: contentTaskList;}
main.contentAll .rootNav1 { grid-area: rootNav1;}
main.contentAll .rootNav2 { grid-area: rootNav2;}

/* ############################# AGREGAR TAREA ############################# */

main.contentAll .mainAddTask {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 4px 13px 4px;
    padding: 8px;
}

main.contentAll .mainAddTask #btn-AddTask {
    background-color: #212529;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 8px 20px;
    gap: 8px;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6); /*CAMBIAR*/
    /* box-shadow: 0 0 10px 1px rgba(32, 201, 151, 0.5); */
    outline: none;
    border: none;
    cursor: pointer;
}
main.contentAll .mainAddTask #btn-AddTask .iconoAddTask {
    color: white;
    font-size: 25px;
}

/* ######################################################################### */
/* ######################################################################### */

/* ############################### NAV MENU ################################ */

.contentNav {
    position: relative;
}

.contentNav > .navMenuButtons {
    width: 100%;
    display: flex;
    position: absolute;
    top: 1%;    /*CAMBIAR: Cambiar cuando haga el menu central asi decido si lo pongo a la altura de la lista de tareas o no*/
}

.contentNav .navMenuButtons > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 8px;
    gap: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    /* background-color: #212529; */
    background-color: transparent;
}

/* ############################# NAV MENU 1 ############################# */
.contentNav.rootNav1 > .navMenuButtons {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.contentNav.rootNav1 .navMenuButtons > button {
    border-radius: 8px 0 0 8px;
    /* Box-Shadow -> Orden: 1ero derecha | 2do abajo | 3ro arriba 
                    columna 1                  columna 2        columna 3             columna 4
        fila: derecha(+)/izquierda (-)    arriba(+)/abajo(-)  cuando se difulmina     alcance*/
    box-shadow: 
        -2px 0 2px 1px rgba(195, 53, 220, 0.6),
        0px 2px 2px 1px rgba(195, 53, 220, 0.6),
        0px -2px 2px 1px rgba(195, 53, 220, 0.6);
}
.contentNav.rootNav1 .navMenuButtons > button > span {
    color: #C335DC;
}

/* ############################# NAV MENU 2 ############################# */
.contentNav.rootNav2 > .navMenuButtons {
    justify-content: flex-start;
    align-items: center;
}

.contentNav.rootNav2 .navMenuButtons > button {
    border-radius: 0 8px 8px 0;
    /* Box-Shadow -> Orden: 1ero derecha | 2do abajo | 3ro arriba 
                    columna 1                  columna 2        columna 3             columna 4
        fila: derecha(+)/izquierda (-)    arriba(+)/abajo(-)  cuando se difulmina     alcance*/
    box-shadow: 
        2px 0 2px 1px rgba(220, 53, 69, 0.6),
        0px 2px 2px 1px rgba(220, 53, 69, 0.6),
        0px -2px 2px 1px rgba(220, 53, 69, 0.6);
}
.contentNav.rootNav2 .navMenuButtons > button > span {
    color: #DC3545;
}

/* ######################################################################### */
/* ######################################################################### */

/* ############################### TASKS LIST ################################ */

.contentTaskList {
    background-color: red;
}