/* ############################# OVERLAYS ############################# */
/* #################################################################### */
#overlays {
    position: fixed;
    inset: 0;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .25s;

    background: rgba(0,0,0,.3);
    backdrop-filter: blur(5px);
}

#overlays.activeModals {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


/* ############################# MODAL: AGREGAR TAREA ############################# */
#overlays .modalAddTask {
    display: none;
}

#overlays .modalAddTask.active {
    width: 350px;
    max-width: 90vw;

    height: auto;
    max-height: 90vh;
    margin: 5px;
    padding: 8px;

    display: flex;
    flex-direction: column;

    border: none;
    border-radius: 10px;
    background-color: #212529;
    box-shadow: 0 0 10px 2px rgba(32, 201, 151, 0.5);
}

.modalAddTask .btn-cancelMenu, 
.modalAddTask input,
.modalAddTask textarea,
.modalAddTask #btn-addTask {
    border: none;
    outline: none;
}

.modalAddTask .titleModal, 
.modalAddTask .btn-cancelMenu, 
.modalAddTask .material-symbols-outlined {
    color: white;
    cursor: pointer;
}

.modalAddTask .material-symbols-outlined:not(.iconoCancelarMenu) {
    color: black;
    position: absolute;
}

.modalAddTask button {
    cursor: pointer;
}

.modalAddTask .titleModal {
    margin-bottom: 5px;
}

.modalAddTask .addTitleTask,
.modalAddTask .addDetailsTask,
.modalAddTask .addExtrasTask {
    width: 100%;
}

.modalAddTask .addTitleTask,
.modalAddTask .addDetailsTask {
    display: flex;
    flex-direction: column;
}

.modalAddTask input {
    border-radius: 10px;
    margin: 2px;
    box-shadow: 0 0 10px 1px rgba(32, 201, 151, 0.5);
}

.modalAddTask .inputAddTitle,
.modalAddTask .textareaAddTask,
.modalAddTask .AddTaskcollaborator {
    position: relative;
    width: 100%;
}
/* ############################# MODAL: TITULO SUPERIOR PRINCIPAL ############################# */
.modalAddTask .titleMainModal {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
}

.modalAddTask .titleMainModal .btn-cancelMenu:not(.btn-cancelMenu.menuModal) {
    position: absolute;
    right: 25px;
    top: 9px;
    background-color: transparent;
}

/* ############################# MODAL: FORMULARIO ############################# */
.modalAddTask form#formAddTask {
    flex: 1;
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}

/* ############################# AGREGAR TITULO */
.modalAddTask .inputAddTitle #titleTask {
    width: 100%;
    padding: 8px 8px 8px 50px;
}

.modalAddTask .inputAddTitle .iconoAddTask {
    top: 14%;
    left: 16px;
}

/* ############################# AGREGAR DETALLES */
.modalAddTask #detailsTask {
    width: 100%;
    min-height: 80px;
    border-radius: 10px;
    padding: 12px 52px;
    transition: .15s ease;

    resize: none;
    box-sizing: border-box;
    box-shadow: 0 0 10px 1px rgba(32, 201, 151, 0.5);
}

.modalAddTask .addDetailsTask .iconoDetailsTask {
    top: 8%;
    left: 16px;
}

/* ############################# AGREGAR EXTRAS */
.modalAddTask .addExtrasTask {
    display: grid;
    grid-template-columns: auto 0.9fr;
    gap: 12px;
}

/* ################### FECHA LIMITE */
.modalAddTask .addExtrasTask .addExtrasTask-Date {
    align-self: center;
    justify-self: center;
}

.modalAddTask .addExtrasTask-Date #dateTask {
    padding: 8px 8px 8px 20px;
}

/* ################### COLABORADOR */
.modalAddTask .addExtrasTask .addExtrasTask-Collaborator {
    align-self: center;
    justify-self: flex-start;
}

.modalAddTask .addExtrasTask-Collaborator .AddTaskcollaborator {
    position: relative;
    width: 100%;
}

.modalAddTask .addExtrasTask-Collaborator #CollaboratorTask {
    width: 95%;
    padding: 8px 8px 8px 40px;
}

.modalAddTask .addExtrasTask-Collaborator .iconoColaborador {
    position: absolute;
    top: 8px;
    left: 15px;
    font-size: 18px;
}

/* ##################### BOTONES SUBMIT Y CANCELAR */
.modalAddTask #btn-addTask {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    color: white;
    background-image: linear-gradient(180deg, #20C997 0%, #82ccb6 100%);
}

.modalAddTask .exit-menuModal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalAddTask .exit-menuModal .btn-cancelMenu {
    padding: 8px;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #5e0d0d 0%, #712d2d 100%);
    /* background-image: linear-gradient(180deg, #212529 0%, #2f2f33 100%); */
}


/* ##################### MENSAJE DE ERROR */

.modalAddTask .reportError {
    display: none;
}

.modalAddTask .reportError.activeError {
    /* max-height: 150px;
    overflow-y: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin: 12px 6px 6px 6px;
    color: red;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 2px rgb(247, 5, 5);
}

.modalAddTask #MessageError {
    padding: 12px;
}

.modalAddTask #MessageError > li {
    margin-left: 15px;
    padding: 4px;
}