/* ######################## ESTRUCTURA ######################### */
/* ############################################################# */
.operarTarea {
    /* Ya esta en app.css definido el display: flex como flex-direction: column, pero
       si aplico un center en ese apartado, se veran afectado los otros menus. Aqui solo busco, centrar
       el boton por separado del ingreso de datos. */
    justify-content: center;
    align-items: center;
}

.operarTarea .ingresoDatos {
    width: 100%;
}

.operarTarea .ingresoDatos > label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bold;
    gap: 25px;
}

.operarTarea textarea {
    width: 100%;
    min-height: 120px;
    border-radius: 5px;
    padding: 12px 14px;

    font-weight:bold;
    transition: .15s ease;

    resize: none;
    outline: none;
    box-sizing: border-box;
    border: 2px solid var(--color);
}

/* ########################## ICONOS ########################### */
/* ############################################################# */
.operarTarea .ingresoDatos > div {
    position: relative;
}

.operarTarea .ingresoDatos > div .material-symbols-outlined {
    position: absolute;
    top: 25%;
    left: 20px;
}

.operarTarea .ingresoDatos .textAreaDescription .material-symbols-outlined { 
    top: 7%;
    left: 15px;
}

/* ########################## INPUTS ########################### */
/* ############################################################# */
.operarTarea .ingresoDatos input:not(.fechaLimite) {
    width: 95%;
}

.operarTarea .ingresoDatos .fechaLimite {
    padding: 8px 8px 8px 20px;
}